#aboutme{
	float: left;
	width: 60%;
	height: 30rem;
	color: #403637;
	border: 9px solid #39ae27;
	background-color: #dddddd;
	margin-left: 10px;
	margin-top: 1em;
	border-radius: 10px;
	list-style: none;
	padding: 5px 5px 5px;

}

#aboutme li {
	font-size: 20px;
	list-style: none;
}

#aboutme a{
	font-size: 20px;
	text-decoration: none;
	color: #403699;
	font-style: italic;


}
#side{
	float: right;
	width: 30%;
	height: 30rem;
	color: #0084B4;
	border: 9px solid #0084B4;
	background-color: #dddddd;
	margin-right: 10px;
	margin-top: 1em;
	border-radius: 10px;


}

#side img{
	width: 50%;
	height: auto;
}


#side p{
	text-align: center;
}

