h1{
	font-family: fantasy;
	font-style: strong;
	font-variant: normal;
	font-weight: 700;
	line-height: 200 px;
	text-align: center;
	  padding: 8px 16px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  margin-bottom: 20px;
  background-color: #f1f6fb;
  color: #244f79;
  border: solid 1px #d0e5f8;
  border-top-color: rgb(208, 229, 248);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(208, 229, 248);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(208, 229, 248);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(208, 229, 248);
  border-left-style: solid;
  border-left-width: 1px;
  border-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  font: 60px/1.4 Helvetica, arial, nimbussansl, 
  liberationsans, freesans, clean, sans-serif, 
  "Segoe UI Emoji", "Segoe UI Symbol";
  

	

}

#white_box{
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background: #fff;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#gray_box {
	font:13px/1.4 Helvetica, arial, 
	nimbussansl, liberationsans, freesans, clean, sans-serif, 
	"Segoe UI Emoji", "Segoe UI Symbol"; 
   background-color: #f5f5f5;
  margin: 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-radius: 3px 3px 0 0;
  border: 1px solid #d8d8d8;
  border-top-color: rgb(216, 216, 216);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(216, 216, 216);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: initial;
  border-bottom-style: initial;
  border-bottom-width: 0px;
  border-left-color: rgb(216, 216, 216);
  border-left-style: solid;
  border-left-width: 1px;
  border-bottom: 0;
  border-bottom-width: 0px;
  border-bottom-style: initial;
  border-bottom-color: initial;
  padding: 9px 10px 10px;
  padding-top: 9px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 17px;
  display: block;
  text-align: left;
  font-weight: bold;
}



#blue_box {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background: #e9f1f9;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  border-bottom: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
